<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new Location</title>
</head>
<body>
    <h1>Add a new Location</h1>
    <form action="/reviews" method="post">
        <section>
            <label for="Location">Enter the Location</label>
            <input type="text" name="location" placeholder="Thapathali, Kathmandu" id="Location">
        
        </section>
        <section>   
            <label for="review">Add a review</label>
            <textarea name="review" id="review" cols="30" rows="10"></textarea>
        </section> 
        <button>Submit</button>   
    </form>
    <a href="/reviews">Back to Index</a>

</body>
</html>